@if(!isLoading()){
<div class="profil-container">
  <div class="logout-container">
    <button mat-flat-button class="logout-button" (click)="logout()">{{'PROFIL.HTML.LOGOUT' | translate }}</button>
  </div>

  <mat-form-field class="search-user-field" appearance="outline">
    <mat-label>{{'PROFIL.HTML.SEARCH' | translate }}</mat-label>
    <input type="text" matInput [matAutocomplete]="auto" [value]="searchQuery()"
      (input)="searchQuery.set($any($event.target).value)">
    <mat-icon matPrefix>search</mat-icon>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser"
      (optionSelected)="selectUser($event.option.value)">

      @for (user of filteredUsers(); track user.id) {
      <mat-option [value]="user">
        <div class="option-content">
          <img [src]="user.profileImage || '/assets/_background/Astronaut.png'" alt="avatar" width="30" height="30"
            style="border-radius: 50%; margin-right: 8px;">
          {{ user.username }}
        </div>
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>


  <mat-card class="profile-card">
    <form #profileForm="ngForm">
      @if(isProfileOwner()) {
      <div class="card-actions-top-right">
        <button mat-icon-button color="primary" aria-label="Modifier le profil" matTooltip="Modifier le profil"
          (click)="isEditing() ? cancelEdit() : editProfile()">
          <mat-icon>{{ isEditing() ? 'close' : 'edit' }}</mat-icon>
        </button>
      </div>
      }

      <div class="header-row">
        <div class="avatar-container">
          <img [src]="previewImage || profileInfoCopyToEdit.profileImage || '/assets/_images/default_profil_image.webp'"
            alt="Avatar" class="avatar" />

          @if (isEditing()) {
          <div class="edit-photo-btn">
            <button mat-icon-button color="primary" (click)="imageInput.click()">
              <mat-icon>edit</mat-icon>
            </button>
            <input type="file" #imageInput accept="image/png" style="display: none" (change)="onFileSelected($event)" />
          </div>
          }
        </div>


        <div class="user-info">
          <h2>
            {{profilInfo()?.username }}
            @if(profilInfo()?.isPremium){
            <mat-icon>star</mat-icon>
            }
          </h2>

          @if (!isEditing()) {
          @if(profilInfo()?.email) {
          <p class="email">
            <mat-icon style="vertical-align: middle; margin-right: 5px;">email</mat-icon>
            {{ profilInfo()?.email }}
          </p>
          }
          } @else {
          <div class="edit-fields">

            <!-- 
                  <mat-form-field appearance="outline">
                    <mat-label>Courriel</mat-label>
                    <input matInput name="email"
                           [(ngModel)]="profileInfoCopyToEdit.email"
                           email type="email"
                           #EmailInput="ngModel" />
                    @if (EmailInput.invalid && EmailInput.touched) {
                      <mat-error>
                        Adresse courriel invalide
                      </mat-error>
                    }
                  </mat-form-field>
                  -->

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput name="email" [(ngModel)]="profileInfoCopyToEdit.email" email type="email" disabled="false"
                #emailInput="ngModel" />
            </mat-form-field>
          </div>

          }

          <p class="created">
            <mat-icon style="vertical-align: middle; margin-right: 5px;">event</mat-icon>
            {{'PROFIL.HTML.ACCOUNT_CREATION' | translate }} {{ profilInfo()?.createdAt | date:'dd MMM yyyy' }}
          </p>
        </div>
      </div>

      @if (isEditing()) {
      <div class="save-button">
        <button mat-raised-button color="primary" [disabled]="!profileForm.valid" (click)="saveProfile()">
          {{'PROFIL.HTML.SAVE' | translate }}
        </button>
      </div>
      }
    </form>
  </mat-card>


  <mat-tab-group class="tabs-container">
    <mat-tab label="{{'PROFIL.HTML.ABOUT' | translate }}">
      <mat-card class="bio-card">
        <p class="bio-title">Bio</p>
        @if (!isEditing()) {
        @if (profilInfo()?.bio) {
        <p>{{ profilInfo()?.bio }}</p>
        } @else {
        <p>{{'PROFIL.HTML.NO_BIO' | translate }}</p>
        }

        <p class="bio-title">{{'PROFIL.HTML.BADGES' | translate }}</p>
        <div class="badges-container">
          @for(badge of badges; track getBadgeTitle(badge)) {
          <div class="badge">
            <img class="image-badge" src="{{badge.image}}" alt="{{badge.title}}" />
            <p class="badge-title">{{getBadgeTitle(badge)}}</p>
          </div>
          }
        </div>

        } @else {
        <mat-form-field appearance="outline" class="bio-field">
          <mat-label>{{'PROFIL.HTML.BIO' | translate }}</mat-label>
          <textarea matInput rows="3" [(ngModel)]="profileInfoCopyToEdit.bio"></textarea>
        </mat-form-field>
        }
      </mat-card>
    </mat-tab>

    <mat-tab label="{{'PROFIL.HTML.PAST' | translate }}">

      <div class="tournament-list">
        @for (tournament of tournaments; track getTournamentTitle(tournament)) {
        <div class="tournament-card">
          <h2>{{ getTournamentTitle(tournament) }}</h2>
          <img [src]="tournament.image" [alt]="tournament.title" class="tournament-image" />
          <p class="game">{{'PROFIL.HTML.GAME' | translate }} {{ tournament.game }}</p>
          <p class="date">{{'PROFIL.HTML.DATE' | translate }} {{ tournament.date }}</p>
          <p class="position">
            <span [ngClass]="'rank-icon rank' + tournament.index">
              {{ getMedalIcon(tournament.index) }}
            </span>
            {{'PROFIL.HTML.POSITION' | translate }} {{ tournament.index }}
          </p>
        </div>
        }
      </div>


    </mat-tab>

    @if(isProfileOwner()){
    <mat-tab label="{{'PROFIL.HTML.FRIENDS' | translate }}">
      @for (user of allUsers(); track user.id) {
      <mat-option [value]="user" (click)="selectUser(user)">
        <div class="option-content">
          <img [src]="user.profileImage || '/assets/_background/Astronaut.png'" alt="avatar" width="30" height="30"
            style="border-radius: 50%; margin-right: 8px;">
          {{ user.username }}
        </div>
      </mat-option>
      }
    </mat-tab>
    }

  </mat-tab-group>

</div>
}
@else {
<div class="is-loading">
  <mat-spinner></mat-spinner>
</div>
}