<div class="home-container">
  <div class="left-section">
    <h1>{{ 'NEXT_TOURNAMENT.HTML.TITLE_WHITE' | translate }} <span class="highlight">{{ 'NEXT_TOURNAMENT.HTML.TITLE_BLUE' | translate }}</span></h1>
    <div class="intro">
      <p class="description">
        {{ 'NEXT_TOURNAMENT.HTML.DESCRIPTION' | translate }}
      </p>
      <button class="learn-more" (click)="openTournamentLink()">{{ 'NEXT_TOURNAMENT.HTML.BTN_REGISTER' | translate }}</button>
    </div>
  </div>

  <div class="right-section">
    <app-tournament-card [tournament]="tournament"></app-tournament-card>
</div>
</div>
