<div class="winners-page">
  <div class="left-section">
    <h1>{{ 'ACTUALITY.HTML.TITLE_WHITE' | translate }} <span class="highlight">{{ 'ACTUALITY.HTML.TITLE_BLUE' | translate }}</span>.</h1>
    <p class="description">
      {{ 'ACTUALITY.HTML.DESCRIPTION1' | translate }} <br>
      {{ 'ACTUALITY.HTML.DESCRIPTION2' | translate }}
    </p>
    <button (click)="openRank()" class="learn-more">{{ 'ACTUALITY.HTML.BTN_RANKINGS' | translate }}</button>
  </div>

  <div class="right-section">
    <div class="podium">
      <div class="podium-column second">
        <div class="player">
          <div class="medal">🥈</div>
          <strong>Jk</strong>
          <span>13500 pts</span>
        </div>
      </div>
      <div class="podium-column first">
        <div class="player">
          <div class="medal">🥇</div>
          <strong>Kfc</strong>
          <span>14000 pts</span>
        </div>
      </div>
      <div class="podium-column third">
        <div class="player">
          <div class="medal">🥉</div>
          <strong>Qt</strong>
          <span>13200 pts</span>
        </div>
      </div>
    </div>
  </div>
</div>
