<div class="home-container">
  <div class="left-section">
    <h1>In-Game <span class="highlight">Preview</span></h1>
    <div class="intro">
      <p class="description">
        Here's a quick look at the in-game experience. Tap the button in the bottom right to expand the interface.
        Designed to stay out of the way — minimal, intuitive, and tailored for uninterrupted gameplay.
      </p>

    </div>
  </div>

  <div class="right-section">
    <app-gameplay></app-gameplay>
  </div>
</div>
