<div class="about-container">
  <div class="left-cube">
    <div class="circle-frame">
      <img [src]="img_src" alt="Gaming Controller" class="cube" />
    </div>
  </div>

  <div class="right-text">
    <h1>
      {{ 'MISSION.HTML.TITLE1' | translate }}<br />
      <span class="highlight">{{ 'MISSION.HTML.TITLE2' | translate }}</span>
    </h1>

    <div class="who-we-are">
      <p><span>{{ 'MISSION.HTML.SUBTITLE1' | translate }}</span></p>
      <p class="description">
        {{ 'MISSION.HTML.DESCRIPTION1' | translate }}
      </p>

      <p><span>{{ 'MISSION.HTML.SUBTITLE2' | translate }}</span></p>
      <p class="description">
        {{ 'MISSION.HTML.DESCRIPTION2' | translate }}
      </p>

      <button (click)="openDownload()" class="see-works">
        {{ 'MISSION.HTML.BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
