<div class="about-container">
  <div class="left-cube">
    <div class="circle-frame">
      <img src={{img_src}} alt="Gaming Controller" class="cube" />
    </div>
  </div>

  <div class="right-text">
    <h1>Our <span>mission</span><br />and vision</h1>

    <div class="who-we-are">
      <p><span>— Our Mission</span></p>
      <p class="description">
        To make gaming tournaments and betting accessible to everyone by simplifying their organization and delivering a smooth, enjoyable, and automated experience.
      </p>

      <p><span>— Our Vision</span></p>
      <p class="description">
        Building a true eSport ecosystem where players, organizers, and spectators come together around a shared passion and an engaging competitive experience.
      </p>

      <button (click)="openDownload()" class="see-works">Explore the platform</button>
    </div>
  </div>
</div>
