<mat-toolbar color="primary" class="header">
  <img ngSrc="assets/Logo.png" alt="Logo" class="logo" height="90" width="60">

  <span class="spacer"></span>

  <a class="link" mat-button routerLink="/home">Home</a>
  <a class="link" mat-button routerLink="/tournaments">Tournament</a>
  <a class="link" mat-button routerLink="/about">About us</a>
  <a class="link" mat-button routerLink="/installation">Download</a>

  @if(!isNotLogggedIn()){
  <a (click)="onProfil()">
    <img class="image-profil" src={{profileInfoCopyToEdit.profileImage}} alt="Profil" />
  </a>}
  @else{
  <a (click)="onProfil()" class="link" mat-button routerLink="/login">Login</a>
  }


</mat-toolbar>