<div class="home-container">
  <div class="left-section">
    <h1>Train. <br />Compete. <br /><span>Win.</span></h1>
    <div class="what-we-do">
      <p><span>— What We’re About</span></p>
      <p class="description">
        We build competitive experiences for those who play to improve — not just to play.
      </p>
      <button (click)="openDownload()" class="learn-more">Join the Arena</button>
    </div>
  </div>

  <div class="right-section">
    <div class="oval-frame">
      <img src={{img_src}} alt="Astronaut" class="astronaut" />
    </div>
  </div>

</div>
