.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 5%;
  background: linear-gradient(to bottom right, #0e0526, #320c4b);
  color: white;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  min-width: 300px;
  padding-left: 6rem;
}

.left-section h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;
}

.left-section h1 span {
  color: white;
}

.what-we-do {
  margin-top: 2rem;
}

.what-we-do span {
  color: #00e0ff;
  font-weight: bold;
}

.description {
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #dcdcdc;
}

.learn-more {
  margin-top: 1.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #00e0ff;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.learn-more:hover {
  background-color: #00cce0;
  transform: scale(1.05);
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  margin-top: 2rem;
}

.astronaut {
  width: 400px;
  height: 500px;
  object-fit: cover;
  animation: float 6s ease-in-out infinite;
  border-radius: 50%;
  background-color: #1a1a2e;
  padding: .1rem;
  box-shadow: 0 0 20px rgba(0, 224, 255, 0.3);

}

@keyframes float {
  0% {
    transform: rotate(12deg) translateY(0);
  }
  50% {
    transform: rotate(12deg) translateY(-20px);
  }
  100% {
    transform: rotate(12deg) translateY(0);
  }
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .right-section {
    order: -1;
    margin-bottom: -1rem;
  }

  .left-section {
    padding: 1.5rem 1rem;
  }

  .left-section h1 {
    font-size: 2.2rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .learn-more {
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  .astronaut {
    width: 250px;
    height: 250px;
  }
}

@media (max-height: 670px) {
  .home-container {
    padding: 2rem 1rem;
  }

  .astronaut {
    width: 200px;
    height: 200px;
  }
}
