<div class="home-container">
  <div class="left-section">
    <h1>
      {{ 'ABOUT.HERO.HTML.TITLE1' | translate }}<br />
      <span class="highlight">{{ 'ABOUT.HERO.HTML.TITLE2' | translate }}</span><br />
      <span>{{ 'ABOUT.HERO.HTML.TITLE3' | translate }}</span>
    </h1>

    <div class="what-we-do">
      <p><span>{{ 'ABOUT.HERO.HTML.SUBTITLE' | translate }}</span></p>
      <p class="description">
        {{ 'ABOUT.HERO.HTML.DESCRIPTION' | translate }}
      </p>
      <button (click)="openDownload()" class="learn-more">
        {{ 'ABOUT.HERO.HTML.BUTTON' | translate }}
      </button>
    </div>
  </div>

  <div class="right-section">
    <div class="oval-frame">
      <img [src]="img_src" alt="Astronaut" class="astronaut" />
    </div>
  </div>
</div>
