<div class="terms-container">
  <div class="left-text">
    <h1><span class="blue">{{ 'TERMS.HTML.TITLE_BLUE' | translate }}</span><span class="white"> {{ 'TERMS.HTML.TITLE_WHITE' | translate }}</span></h1>

    <p class="description">
      {{ 'TERMS.HTML.DESCRIPTION' | translate }}
    </p>

    <a href="assets/getgoodorgetout_terms_of_use.pdf" download class="download-pdf">
      {{ 'TERMS.HTML.BTN_PDF' | translate }}
    </a>
  </div>

  <div class="right-image">
    <div class="circle-frame">
      <img src="assets/_background/contract_350x350.webp" alt="PDF Icon" class="pdf-image"  loading="lazy" />
    </div>
  </div>
</div>
