<div class="terms-container">
  <div class="left-text">
    <h1><span class="blue">Terms</span> & <span class="white">Conditions</span></h1>

    <p class="description">
      Before using GetGoodOrGetOut, please take a moment to read our terms of use. This document includes both the French and English versions.
    </p>

    <a href="assets/terms_conditions_getgoodorgetout.pdf" download class="download-pdf">
      Download the PDF
    </a>
  </div>

  <div class="right-image">
    <div class="circle-frame">
      <img src="assets/_background/contract.png" alt="PDF Icon" class="pdf-image" />
    </div>
  </div>
</div>
