
<nav class = "navbar-dark bg-dark navbar-expand-md mb-3 shadow-lg">

  <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item mx-3">
          <a class="nav-link text-secondary" routerLink="/home" routerLinkActive = "text-light">HOME</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive = "text-light" >PORTFOLIO</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-secondary" routerLink="/resume" routerLinkActive = "text-light">RESUME</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-secondary" routerLink="/contact" routerLinkActive = "text-light" >CONTACT</a>
        </li>
      </ul>
  </div>
</nav>
