<div class="tournament-container">
  <img src="../../../../assets/_background/gameplay.jpg" alt="Tournament Background" class="background-image" />

  <div class="toggle-button" (click)="toggleStatusBar()">
    {{ isOpen ? '−' : '+' }}
  </div>

  @if (isOpen) {
    <div class="status-bar" @slideInOut>
      <div class="tournament-info">
        <div class="info-row">
          <mat-icon>sports_esports</mat-icon>
          <span>{{ tournamentInfo.kills }} {{ 'PREVIEW.GAMEPLAY.HTML.KILLS' | translate }}</span>
        </div>
        <div class="info-row">
          <mat-icon>emoji_events</mat-icon>
          <span>{{ 'PREVIEW.GAMEPLAY.HTML.RANK' | translate }}{{ tournamentInfo.tournamentRank }}</span>
        </div>
        <div class="info-row">
          <mat-icon>leaderboard</mat-icon>
          <span>{{ 'PREVIEW.GAMEPLAY.HTML.GAME' | translate }}{{ tournamentInfo.gameRank }}</span>
        </div>
        <div class="info-row">
          <mat-icon>repeat</mat-icon>
          <span>{{ 'PREVIEW.GAMEPLAY.HTML.ROUND' | translate }} {{ tournamentInfo.round }}</span>
        </div>

        <div class="players-title">{{ 'PREVIEW.GAMEPLAY.HTML.PLAYERS_TITLE' | translate }}</div>
        <div class="opponents">
          @for (player of tournamentInfo.opponents; track player.name) {
            <div class="opponent">
              <span class="player-name">{{ player.name }}</span>
              <span class="player-score">{{ player.kills }} ⚔</span>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
