<div class="forgot-container">

    <mat-card class="card">
        <div class="logo-container">
            <img ngSrc="assets/Logo.png" alt="Logo" class="logo" height="90" width="60">
            <h3>GetGoodOrGetOut</h3>
        </div>
        <div class="form-container">
            <p class="welcome">Not implemented yet.</p>
            <p class="welcome">Try to remember your password.</p>
            <div class="flex-container align-center">
                <p>Go to</p>
                <a class="button" (click)="onLogin()">Sign-in</a>
            </div>
        </div>
    </mat-card>
</div>