<div class="forgot-container">

    <mat-card class="card">
        <div class="logo-container">
            <img ngSrc="assets/Logo.png" alt="Logo" class="logo" height="90" width="60">
            <h3>{{ 'FORGOT.HTML.TITLE_APP' | translate }}</h3>
        </div>
        <div class="form-container">
            <p class="welcome">{{ 'FORGOT.HTML.WELCOME' | translate }}</p>
            <p class="welcome">{{ 'FORGOT.HTML.DESCRIPTION' | translate }}</p>
            <div class="flex-container align-center">
                <p>{{ 'FORGOT.HTML.GOTO' | translate }}</p>
                <a class="button" (click)="onLogin()">{{ 'FORGOT.HTML.LNK_LOGIN' | translate }}</a>
            </div>
        </div>
    </mat-card>
</div>