<div class="download-container">
  <div class="left-text">
    <h1><span>Download</span> the app</h1>

    <p class="description">
      Ready to join the arena? Download <strong>GettGoodOrGetOut</strong> for Mac or Windows and start creating or joining tournaments right from your desktop.
    </p>

    <div class="download-buttons">
      <button class="download-link" (click)="openApp()">Download for Mac</button>
      <button class="download-link" (click)="openApp()">Download for Windows</button>
    </div>
  </div>

  <div class="right-image">
    <div class="circle-frame">
      <img src={{img_path1}} alt="App Preview" class="download-image" />
    </div>
  </div>
</div>
