<div class="download-container">
  <div class="left-text">
    <h1><span>{{ 'DOWNLOAD_SECTION.HTML.TITLE_WHITE' | translate }}</span> {{ 'DOWNLOAD_SECTION.HTML.TITLE_BLUE' | translate }}</h1>

    <p class="description">
      {{ 'DOWNLOAD_SECTION.HTML.DESCRIPTION1' | translate }} <strong>{{ 'DOWNLOAD_SECTION.HTML.DESCRIPTION2' | translate }}</strong> {{ 'DOWNLOAD_SECTION.HTML.DESCRIPTION3' | translate }}
    </p>

    <div class="download-buttons">
      <button class="download-link" (click)="openApp()">{{ 'DOWNLOAD_SECTION.HTML.BTN_MAC' | translate }}</button>
      <button class="download-link" (click)="openApp()">{{ 'DOWNLOAD_SECTION.HTML.BTN_WIN' | translate }}</button>
    </div>
  </div>

  <div class="right-image">
    <div class="circle-frame">
      <img src="assets/_background/spaceship_uploaded_350x350.webp" alt="App Preview" class="download-image" loading="lazy" />
    </div>
  </div>
</div>
