<div class="container pb-5 mb-5">
  <div class="col-lg bg-dark text-white shadow m-1">
    <div class="text-center">
      <h2 class="display-6 p-3" style="font-size: 2em"><b>ME JOINDRE</b></h2>

      <div class="text-center mx-auto" style="width: 60%">
        <p class="display-6" style="font-size: 1.2em">
          Je serais ravi de recevoir votre message si vous souhaitez discuter de nouvelles opportunités. Écrivez-moi sur l'une des plateformes ci-dessous,
          et je vous répondrai dès que possible.
        </p>
      </div>
        <div class="d-flex flex-wrap justify-content-center p-2 pb-4">
          <a href="https://github.com/BobElBricolo" target="_blank"><img class="p-3 rounded-circle" src="../../assets/ContactLogo/github.png" width="105" height="105"></a>
          <a href="mailto: alexyoung@outlook.fr" target="_blank"><img class="p-3 rounded-circle" src="../../assets/ContactLogo/email.png" width="110" height="112"></a>
          <a href="https://www.facebook.com/profile.php?id=100016162143456" target="_blank"><img class="p-3 rounded-circle" src="../../assets/ContactLogo/facebook.png" width="100" height="100"></a>
          <a href="https://www.linkedin.com/in/alexis-young-35a802232/" target="_blank"><img class="p-3 rounded-circle" src="../../assets/ContactLogo/linkedin.png" width="100" height="100"></a>
        </div>
    </div>
  </div>
</div>



