<div class="register-container">
    <mat-card class="card">
        <div class="logo-container">
            <img ngSrc="assets/Logo.png" alt="Logo" class="logo" height="90" width="60">
            <h3>{{ 'REGISTER.HTML.TITLE_APP' | translate }}</h3>
        </div>
        <p class="welcome">{{ 'REGISTER.HTML.WELCOME' | translate }}</p>

        <!-- Ajout du [formGroup] ici -->
        <form class="form-container" [formGroup]="signupForm">
            <div class="flex-container">
                <mat-form-field class="email" appearance="outline">
                    <mat-label>{{ 'REGISTER.HTML.EMAIL' | translate }}</mat-label>
                    <input matInput type="email" formControlName="email" required>
                </mat-form-field>
            </div>

            <div class="flex-container">
                <mat-form-field class="username" appearance="outline">
                    <mat-label>{{ 'REGISTER.HTML.USERNAME' | translate }}</mat-label>
                    <input matInput type="text" formControlName="username" required>
                </mat-form-field>
            </div>

            <div class="flex-container">
                <mat-form-field class="password" appearance="outline">
                    <mat-label>{{ 'REGISTER.HTML.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
            </div>

            <div class="flex-container">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'REGISTER.HTML.CONFIRM_PWD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" />

                    @if (signupForm.get('confirmPassword')?.touched &&
                    signupForm.get('confirmPassword')?.errors?.['required']) {
                    <mat-error>{{ 'REGISTER.HTML.WRN_REQUIRED' | translate }}</mat-error>
                    }

                    @if (signupForm.get('confirmPassword')?.touched &&
                    signupForm.get('confirmPassword')?.errors?.['passwordsMismatch']) {
                    <mat-error>{{ 'REGISTER.HTML.WRN_DIFFERENT' | translate }}</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="flex-container">
                <button mat-flat-button class="button" (click)="onRegister()">{{ 'REGISTER.HTML.BTN_REGISTER' | translate }}</button>
            </div>

            <div class="flex-container align-center">
                <p>{{ 'REGISTER.HTML.ALREADY_ACCOUNT_WINNER' | translate }}</p>
                <a class="button" (click)="onLogin()">{{ 'REGISTER.HTML.BTN_LOGIN' | translate }}</a>
            </div>
        </form>
    </mat-card>
</div>