<div class="not-found-page">
  <div class="not-found-content">
    <div class="not-found-text">
      <h1 class="code">404</h1>
      <h2 class="title">{{ '404.HTML.TITLE' | translate }}</h2>
      <p class="message">
        {{ '404.HTML.DESCRIPTION' | translate }} <br />
        {{ '404.HTML.DESCRIPTION2' | translate }}
      </p>
      <a routerLink="/home" class="not-found-button">{{ '404.HTML.BUTTON' | translate }}</a>
    </div>

    <div class="not-found-image">
      <img src="assets/_background/LostAstronaut.png" alt="Lost Astronaut" />
    </div>
  </div>
</div>
