<div class="forbidden-page">
  <div class="forbidden-content">
    <div class="forbidden-text">
      <h1 class="code">403</h1>
      <h2 class="title">Forbidden</h2>
      <p class="message">
        Sorry, you do not have access to this page. <br />
        Please contact the administrator.
      </p>
      <a routerLink="/home" class="forbidden-button">Return Home</a>
    </div>

    <div class="forbidden-image">
      <img src="assets/_background/Gandalf.png" alt="Access Denied" />
    </div>
  </div>
</div>
