<div class="forbidden-page">
  <div class="forbidden-content">
    <div class="forbidden-text">
      <h1 class="code">403</h1>
      <h2 class="title">{{ '403.HTML.TITLE' | translate }}</h2>
      <p class="message">
        {{ '403.HTML.DESCRIPTION' | translate }} <br />
        {{ '403.HTML.DESCRIPTION2' | translate }}
      </p>
      <a routerLink="/home" class="forbidden-button">{{ '403.HTML.BUTTON' | translate }}</a>
    </div>

    <div class="forbidden-image">
      <img src="assets/_background/SpaceGandalf.png" alt="Access Denied" />
    </div>
  </div>
</div>
