<div class="container">

    <div class="col-lg bg-dark text-white shadow m-1">
      <div class="text-center">
        <h2 class="display-6 p-3" style="font-size: 2em"><b>ATOUTS</b></h2>

        <div class="text-center mx-auto" style="width: 60%">
          <p class="display-6" style="font-size: 1.2em">Voici une compilation des divers langages de programmation,
            environnements et plateformes sur lesquels j'ai acquis de l'expérience
            au fil de ma formation et de mon parcours :</p>
        </div>

        <div class="pb-4">
          <div class="d-flex flex-wrap justify-content-center p-2">
            <img class="p-3" src="../../assets/Logo/Cplus.png" width="105" height="105">
            <img class="p-3" src="../../assets/Logo/csharp.png" width="105" height="105">
            <img class="p-3 rounded-circle" src="../../assets/Logo/java.png" width="105" height="105" >
            <img class="p-3" src="../../assets/Logo/html.png" wwidth="105" height="105">
            <img class="p-3" src="../../assets/Logo/Angular.png" width="105" height="105">
          </div>

          <div class="d-flex flex-wrap justify-content-center p-2">
            <img class="p-3" src="../../assets/Logo/Unity.png" width="105" height="105" >
            <img class="p-3" src="../../assets/Logo/vscode.png" width="105" height="105">
            <img class="p-3" src="../../assets/Logo/eclipse.png" width="105" height="105" >
            <img class="p-3" src="../../assets/Logo/rider.png" width="105" height="105">
            <img class="p-3" src="../../assets/Logo/IntelliJ.png" width="105" height="105">
            <img class="p-3" src="../../assets/Logo/webstorm.png" width="125" height="105">
          </div>

        </div>


      </div>
    </div>

  <div class="col-lg bg-dark text-white shadow m-1">
    <div class="text-center">
      <h2 class="display-6 m-3 p-2" style="font-size: 2em"><b>EDUCATION</b></h2>
    </div>

    <div class="justify pb-2">
      <h4 class="display-6 px-xxl-5 mb-1" style="font-size: 1.3em">BACCALAUREAT EN INFORMATIQUE:</h4>
      <p class="lead px-xxl-5 mb-1" style="font-size: 1em; color: lightgray">2022-2025 | Université du Québec à Trois-Rivières (UQTR)</p>

      <p class="display-6  px-4 justify pt-0 mt-0" style="font-size: 1.05em; padding-bottom: 1em">Actuellement étudiant en
        informatique, je suis à la poursuite de mon baccalauréat. Mon cheminement académique au sein de ce programme m'a
        offert l'opportunité d'explorer un large éventail de domaines de l'informatique, allant de la programmation à la
        conception de systèmes complexes. Cela m'a également permis de développer des compétences robustes, de stimuler
        ma créativité et de m'impliquer dans des projets captivants.</p>
    </div>

    <div class="justify pb-2">
      <h4 class="display-6  px-xxl-5 mb-1" style="font-size: 1.3em">DEC EN SCIENCES INFORMATIQUES ET MATHEMATIQUES:</h4>
      <p class="lead px-xxl-5 mb-1" style="font-size: 1em; color: lightgray">2020-2022 | Cégep de Trois-Rivières</p>

      <p class="display-6  px-4 justify pt-0 mt-0" style="font-size: 1.05em; padding-bottom: 1em">Mon DEC en sciences
        informatiques et mathématiques m'a fourni des bases solides en mathématiques et en informatique, ce qui
        constitue un atout essentiel dans mon parcours académique et professionnel. Ces connaissances ont renforcé ma
        capacité à résoudre des problèmes complexes, à analyser des données, et
        ont constitué une base solide pour la poursuite de mon baccalauréat en informatique à l'UQTR.</p>
    </div>

  </div>

  <div class="col-lg bg-dark text-white shadow mt-0">
    <div class="text-center">
      <h2 class="display-6 m-3 p-2" style="font-size: 2em"><b>EXPERIENCE DE TRAVAIL</b></h2>

      <div class="justify pb-2">
        <h4 class="display-6  px-xxl-5 mb-1" style="font-size: 1.3em">ACCES PHARMA MELANIE RACETTE:</h4>
        <p class="lead px-xxl-5 mb-1" style="font-size: 1em; color: lightgray">2019-2024</p>

        <p class="display-6  px-4 justify pt-0 mt-0" style="font-size: 1.05em; padding-bottom: 1em">Travailler pendant plus de quatre
          ans dans une pharmacie a été une expérience transformative pour moi. Au-delà des interactions avec les patients, j'ai
          acquis des compétences essentielles pour le monde de l'informatique. La gestion des médicaments et des dossiers a
          renforcé mon sens de l'organisation, une qualité précieuse pour la programmation et le développement de logiciels.
          De plus, j'ai perfectionné ma capacité à communiquer efficacement, que ce soit avec des collègues ou des clients,
          ce qui est indispensable lors de la collaboration sur des projets informatiques en équipe. En somme, ces quatre années
          dans le secteur pharmaceutique m'ont inculqué des compétences et une mentalité qui sont des atouts indéniables dans ma
          carrière dans l'informatique.</p>
      </div>

    </div>
  </div>

  <div class="text-center pt-3 pb-xxl-5 mb-xxl-5">
    <a class="display-6" href="../../assets/CV.pdf" download="CV.pdf"><b>TELECHARGER LA VERSION PDF</b></a>
  </div>



</div>

