a{
  background-color: #262626;
  color: white;
  padding: 15px 25px;
  font-size: 1em;
  text-decoration: none;

}

a:hover{
  background-color: black;
}

.logo{
  width: 105px;
  height: 105px;
  padding: 1rem;
}

.titre{
  font-weight: 250;
  font-size: 1.3em;
}
