a{
  background-color: #262626;
  color: white;
  padding: 15px 25px;
  font-size: 1em;
  text-decoration: none;

}

a:hover{
  background-color: black;
}

.logo{
  width: 105px;
  height: 105px;
  padding: 1rem;
}

.titre{
  font-weight: 250;
  font-size: 1.3em;
}

.para{
  font-size: 1.05em;
  text-align: justify;
  text-justify: inter-character;
  padding-bottom: 1em;
}

.atout{
  text-align: justify;
  text-justify: inter-character;
}

@media screen and (max-width: 500px) {
  .para{
    font-size: 1em;
    text-align: center;
    padding-bottom: 1em;
  }

  .atout{
    text-align: center;
  }
}
