<div class="tournaments-container">
  <h1>
    @if (viewMode === 'upcoming') {
      <span>{{ 'TOURNAMENT-PAGE.HTML.UPCOMING' | translate }} </span>
    } @else {
      <span>{{ 'TOURNAMENT-PAGE.HTML.PAST' | translate }}</span>
    }
    {{ 'TOURNAMENT-PAGE.HTML.TOURNAMENTS' | translate }}
  </h1>

  <div class="view-toggle">
    <button [class.active]="viewMode === 'upcoming'" (click)="viewMode = 'upcoming'">{{ 'TOURNAMENT-PAGE.HTML.UPCOMING' | translate }}</button>
    <button [class.active]="viewMode === 'past'" (click)="viewMode = 'past'">{{ 'TOURNAMENT-PAGE.HTML.PAST' | translate }}</button>
  </div>

  <div class="search-wrapper">
    <i class="fas fa-search search-icon"></i>
    <input
      type="text"
      class="search-bar"
      placeholder="{{ 'TOURNAMENT-PAGE.HTML.SEARCH' | translate }}"
      [(ngModel)]="searchTerm"
    />
  </div>

  <div class="tournament-list">
    @for (tournament of filteredTournaments; track tournament.title) {
      <div class="tournament-card">
        <h2>{{ tournament.title }}</h2>
        <img [src]="tournament.image" [alt]="tournament.title" class="tournament-image" />
        <p class="game">Game: {{ tournament.game }}</p>
        <p class="date">Date: {{ tournament.date | date:'dd/MM/yyyy' }}</p>
        <div class="actions">
          <a class="join-button" (click)="openTournament(tournament.id)">{{ viewMode === 'past' ? 'Stats' : 'Join' }}</a>
          <button class="description-toggle" (click)="toggleDescription(tournament)">
            {{ tournament.showDescription ? 'Hide' : 'Show' }} Description
          </button>
        </div>
        @if(tournament.showDescription) {
          <p class="description">
            {{ tournament.description }}
          </p>
        }
      </div>
    }
  </div>
</div>
