<div class="container px-5 pb-5">
  <div class="row">
    <!-- About me -->
    <div class="col-lg bg-dark text-white shadow aligner">
        <div class="text-center">
          <h2 class="display-6 m-3 titreHome"><b>PROFIL</b></h2>
          <img src="../../assets/Image/bob.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
          <p class="display-6 para">En tant qu'étudiant actuellement inscrit en informatique au baccalauréat
            à l'UQTR, je suis à la recherche d'une opportunité d'emploi où je pourrais mettre en pratique mes nouvelles
            compétences tout en continuant d'apprendre. Ma curiosité et mon sens de l'organisation me poussent à résoudre
            des problèmes de manière logique, ordonnée et efficace. Mon objectif est de contribuer activement à des projets
            informatiques stimulants tout en élargissant mes compétences et connaissances dans ce domaine en constante évolution.</p>
        </div>
    </div>

    <!-- Project-->
    <div class="col-lg bg-dark text-white shadow aligner">
      <div class="text-center">
          <h2 class="display-6 mt-3 mb-2 titreHome"><b>PROJET RÉCENT</b></h2>
          <h4 class="display-6 mb-2 sousTitre"><b>{{featuredProject.name}}</b></h4>
      </div>

      <carousel class="m-1">
        <div *ngFor="let picture of featuredProject.pictures">
          <slide><img src={{picture}} alt="slide" style="display: block; width: 100%"></slide>
        </div>
      </carousel>

      <p class="display-6 mt-2 para" >{{featuredProject.summary}}</p>
      <p class="display-6 para">Visitez le portfolio pour plus de détails.</p>

    </div>
  </div>
</div>
