.para{
  font-size: 1.1em;
  text-align: justify;
  text-justify: inter-character;
}

.sousTitre{
  font-size: 1.4em;
}

.titreHome{
  font-size: 2em;
}

@media screen and (max-width: 500px) {
  .para{
    font-size: 1em;
    text-align: center;
  }
}
