<div class="home-container">
  <div class="left-section">
    <h1>Step into <span class="highlight">the Game</span>.</h1>
    <div class="intro">
      <p class="description">
        Welcome to the ultimate e-sport platform. Create or join tournaments, challenge your friends, and climb the leaderboard.
      </p>
      <div class="cta-buttons">
        <button class="learn-more" (click)="goToProfil()">Start Competing</button>
        <button class="learn-more" (click)="goToTournaments()">Explore Tournaments</button>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="oval-frame">
      <img src="assets/_background/Astronaut_Bike.png" alt="Astronaut" class="astronaut" />
    </div>
  </div>
</div>
