<div class="fullpage-wrapper">
  <section class="section">
    <app-gameplay-section></app-gameplay-section>
  </section>

  <section class="section">
    <app-preview-section></app-preview-section>
  </section>

  <section class="section">
    <app-tree-preview></app-tree-preview>
  </section>
</div>

@if (showPopup){
  <div class="popup-overlay">
    <div class="popup-content">
      <h2>{{ 'PREVIEW.POPUP.HTML.TITLE' | translate }}</h2>
      <p>{{ 'PREVIEW.POPUP.HTML.DESCRIPTION' | translate }}</p>
      <button (click)="showPopup = false">{{ 'PREVIEW.POPUP.HTML.BUTTON' | translate }}</button>
    </div>
  </div>

}

