<div class="features-container">
  <div class="left-icon">
    <div class="circle-frame">
      <img src={{img_path}} alt="Platform Features" class="feature-icon" />
    </div>
  </div>

  <div class="right-text">
    <h1>{{ 'FUNCTIONNALITY.HTML.TITLE_WHITE' | translate }} <span>{{ 'FUNCTIONNALITY.HTML.TITLE_BLUE' | translate }}</span></h1>

    <div class="features-list">
      <p class="feature-title">{{ 'FUNCTIONNALITY.HTML.FEATURE_TITLE1' | translate }}</p>
      <p class="feature-description">
        {{ 'FUNCTIONNALITY.HTML.DESCRIPTION1' | translate }}
      </p>

      <p class="feature-title">{{ 'FUNCTIONNALITY.HTML.FEATURE_TITLE2' | translate }}</p>
      <p class="feature-description">
        {{ 'FUNCTIONNALITY.HTML.DESCRIPTION2' | translate }}
      </p>

      <p class="feature-title">{{ 'FUNCTIONNALITY.HTML.FEATURE_TITLE3' | translate }}</p>
      <p class="feature-description">
        {{ 'FUNCTIONNALITY.HTML.DESCRIPTION3' | translate }}
      </p>

      <button (click)="openApp()" class="learn-more">{{ 'FUNCTIONNALITY.HTML.BTN_EXPLORE' | translate }}</button>
    </div>
  </div>
</div>
